.DS_Store
__pycache__/
.ipynb_checkpoints/
*.py[cod]
data/OD_txt
data/OD_txt.zip
processed_data/epochs/*/*.fif
processed_data/epochs/*.fif
processed_data/**/*.pkl
processed_data/**/*.csv
processed_data/**/*.md
results/*.txt
results/**/*.pdf
results/**/*.txt
results/**/*.md
results/**/*.tex
results/**/*.jpg
results/**/*.jpeg
results/**/*.png
results/**/*.csv
.snakemake
.snakemake_timestamp
.vscode
*.egg-info
models/